body {
  background-color: #b9cdd4;
}

h1 {
  text-align: center;
}

#container {
  margin: 0 auto;
  margin-top: 30px;
  width: 265px;
  height: 202px;
  background-color: #00b5e6;
  padding: 25px;
  border-radius: 20px;
}

#botao {
  float: right;
  background-color: #108f02;
  color: #ffffff;
  border-color: #cbcdcd;
  border-radius: 15px;
  border-style: double;
  width: 90px;
  height: 30px;
}